html { /*hide scroll wheel*/
    overflow: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial;
    background-color: #FFF;
    height: 100vh;
    font-family: 'Comfortaa', sans-serif;
    color: #000;
    text-align: center;
}

/*------------------------Main Body----------------------*/
.mainWrap h1 {
    position: relative;
    top: 5vh;
    font-size: 4vw;
    margin: 100px;
    padding: 20px;
}

.mainWrap p {
    padding: 20px;
    font-size: 2vw;
}

#em {
    color: #968DEE;
}

#brando {
    color: #B986ED;
}

#jon {
    color: #85B6EC;
}

#zach {
    color: #7ED9EA;
}

#drogas {
    color: #8AA1ED;
}

/*-------------------------Nav Bar-----------------------*/
.nav {
    position: fixed; /*navigation always at top of screen*/
    top: 0;
    width: 100%;
    background: #7368E3;
    z-index: 100; /*keep it on top of everything else*/
    height: 6vh; /*scale with window size*/
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #C2BCF8;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    font-weight: bold;
}


li {
    padding: 20px;
}

a {
    color: #FFF;
    text-decoration: none;
    padding: 2px;
    margin: 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    transition: all 0.3s ease;
}

nav a:hover { /*increase text size when hovering*/
    border-color: #FFF;
}

@media only screen and (max-height: 600px) { /*keep nav bar from shrinking too much*/
    .nav {
        height: 48px;
    }
}

@media only screen and (max-width: 800px) {
    .nav-items {
        font-size: 2vw;
    }
}